graft */*/*/js
graft */*/*/css
graft */*/*/images
graft */*/*/locales
graft */*/*/profiles
graft */*/*/templates
global-include *.zcml
global-include README.rst
global-include docs/*
global-include allkeys.txt