/* category descriptions is an unfinished feature and only visible for
seantis.dir.council, once it's finished this will be gone */
#formfield-form-widgets-cat1_descriptions,
#formfield-form-widgets-cat2_descriptions,
#formfield-form-widgets-cat3_descriptions,
#formfield-form-widgets-cat4_descriptions {
    display: none;
}

/* make the circles in the collective geo maps more visible */
#geoshapemap circle, #geoshapemap polyline, #geoshapemap path {
    stroke: #0e52ea;
    stroke-width: 2px;
    fill: white;
    fill-opacity: 0.5;
}

#geoshapemap polyline {
    fill: none;   
}

/* checkboxes of categories should each have their own line */
#formfield-form-widgets-IDirectoryCategorized-cat1 .option,
#formfield-form-widgets-IDirectoryCategorized-cat2 .option,
#formfield-form-widgets-IDirectoryCategorized-cat3 .option,
#formfield-form-widgets-IDirectoryCategorized-cat4 .option {
    display: block;
}

/* category field blocks create a ton of unneeded whitespace if
not put next to each other.. */
#formfield-form-widgets-IDirectoryCategorized-cat1,
#formfield-form-widgets-IDirectoryCategorized-cat2,
#formfield-form-widgets-IDirectoryCategorized-cat3,
#formfield-form-widgets-IDirectoryCategorized-cat4 {
    float: left;
    clear: none;
}

/* ..unless the token input is used */
#formfield-form-widgets-IDirectoryCategorized-cat1 .token-input-list,
#formfield-form-widgets-IDirectoryCategorized-cat2 .token-input-list,
#formfield-form-widgets-IDirectoryCategorized-cat3 .token-input-list,
#formfield-form-widgets-IDirectoryCategorized-cat4 .token-input-list {
    width: 100%;   
}