#landingPageImage {
    float:left;
    display:inline;
    margin-right: 15px;
}

#landingPageText h2 {
    padding-left: 20px;
}

#landingPageIntro {
    margin: 20px 0;
    width: 100%;
}

.directoryResult {
    border-top: 1px solid #ddd;
    padding: 0px 0 12px 0;
}

div#landingPageText {
    width: 50%;
    float: left;
    margin-top: 0;
    padding-top: 0;
}

#directoryResultMap {
    width: 50%;
    float: right;
}

div#directoryResultList, div#directoryInfo {
    padding-top: 0;
}

#directoryResultList {
    float: left;
    width: 50%;
}

.directoryMarker {
    float: left;
    position: relative;
    top: 9px;
    margin-right: 5px;   
}

#document-action-kml_download {
    display: none;
}

a.groupSelection {
    text-decoration: underline !important;
}