#landingPageImage {
    float:left;
    display:inline;
    margin-right: 15px;
}

#landingPageIntro {
    width: 100%;
}

.directoryResult {
    position: relative;
    border-top: 1px solid #ddd;
    padding: 0px 0 12px 0;
}

div#landingPageText {
    width: 50%;
    float: left;
    margin-top: 0;
    padding-top: 0;
}

div#directoryResultList, div#directoryInfo {
    padding-top: 0;
}

#directoryResultList {
    width: 100%;
}

.directoryMarker {
    position: absolute;
    top: 5px;
    left: auto !important;  
}

.directoryInfoText {
    padding-left: 10px !important;
}

#content #document-action-kml_download {
    display: none;
}

a.groupSelection {
    text-decoration: underline !important;
}

/* make the circles in the collective geo maps more visible */
#geoshapemap circle, #geoshapemap polyline, #geoshapemap path {
    stroke: #0e52ea;
    stroke-width: 2px;
    fill: white;
    fill-opacity: 0.5;
}

#geoshapemap polyline {
    fill: none;   
}

/* checkboxes of categories should each have their own line */
#formfield-form-widgets-IDirectoryCategorized-cat1 .option,
#formfield-form-widgets-IDirectoryCategorized-cat2 .option,
#formfield-form-widgets-IDirectoryCategorized-cat3 .option,
#formfield-form-widgets-IDirectoryCategorized-cat4 .option {
    display: block;
}

/* category field blocks create a ton of unneeded whitespace if
not put next to each other.. */
#formfield-form-widgets-IDirectoryCategorized-cat1,
#formfield-form-widgets-IDirectoryCategorized-cat2,
#formfield-form-widgets-IDirectoryCategorized-cat3,
#formfield-form-widgets-IDirectoryCategorized-cat4 {
    float: left;
    clear: none;
}

/* ..unless the token input is used */
#formfield-form-widgets-IDirectoryCategorized-cat1 .token-input-list,
#formfield-form-widgets-IDirectoryCategorized-cat2 .token-input-list,
#formfield-form-widgets-IDirectoryCategorized-cat3 .token-input-list,
#formfield-form-widgets-IDirectoryCategorized-cat4 .token-input-list {
    width: 100% !important;   
}

.formControls {
    clear: both;   
}