#landingPageImage {
    float:left;
    display:inline;
    margin-right: 15px;
}

#landingPageIntro {
    width: 100%;
}

.directoryResult {
    position: relative;
    border-top: 1px solid #ddd;
    padding: 0px 0 12px 0;
}

div#landingPageText {
    width: 50%;
    float: left;
    margin-top: 0;
    padding-top: 0;
}

div#directoryResultList, div#directoryInfo {
    padding-top: 0;
}

#directoryResultList {
    width: 100%;
}

.directoryMarker {
    position: absolute;
    top: 5px;
    right: 0;
    margin-right: 4px;
    left: auto;  
}

#document-action-kml_download {
    display: none;
}

a.groupSelection {
    text-decoration: underline !important;
}