#landingPageImage {
    float:left;
    display:inline;
    margin-right: 15px;
}

#landingPageIntro {
    width: 100%;
}

.directoryResult {
    position: relative;
    border-top: 1px solid #ddd;
    padding: 0px 0 12px 0;
}

div#landingPageText {
    width: 50%;
    float: left;
    margin-top: 0;
    padding-top: 0;
}

div#directoryResultList, div#directoryInfo {
    padding-top: 0;
}

#directoryResultList {
    width: 100%;
}

.directoryMarker {
    position: absolute;
    top: 5px;
    left: auto !important;  
}

.directoryInfoText {
    padding-left: 10px !important;
}

#content #document-action-kml_download {
    display: none;
}

a.groupSelection {
    text-decoration: underline !important;
}

/* make the circles in the collective geo maps more visible */
#geoshapemap circle, #geoshapemap polyline, #geoshapemap path {
    stroke: #0e52ea;
    stroke-width: 2px;
    fill: white;
    fill-opacity: 0.5;
}

#geoshapemap polyline {
    fill: none;   
}