#directorySearch form {
    float: left;
}

@media all and (max-width: 500px) {
    #directorySearch form {
        float: none;
        clear: both;
        width: auto;   
    }   
}

.directorySearchFormSelection, 
.visualMarginRight, 
.directorySearchFormButtons, 
.directorySearchFormButtons div {
    width: 200px;
}

.seantis-directory-category,
#searchtext {
    width: 180px;
    margin: 2px 0 8px 0;
    display: block;
}

.seantis-directory-filter .directorySearchFormSelection {
    float: left;
}