#directorySearch legend {
    display: none;
}

div#directorySearch fieldset {
    border: none;
}

#directorySearch {
    border: 1px solid #afafaf;
    border-width: 1px 1px 1px 10px;
    margin-top: 10px;
}

#directorySearch form {
    float: left;
}

@media all and (max-width: 500px) {
    #directorySearch form {
        float: none;
        clear: both;
        width: auto;   
    }   
}

.directorySearchFormSelection, 
.visualMarginRight, 
.directorySearchFormButtons, 
.directorySearchFormButtons div {
    width: 200px;
}

.seantis-directory-category,
#searchtext {
    width: 180px;
    margin: 2px 0 8px 0;
    display: block;
}

.seantis-directory-filter .directorySearchFormSelection {
    float: left;
}